:root {
  --light-grey: 117, 117, 117;
  --deep-grey: #878787;
  --black-color: #000000;
  --font-san-serif: sans-serif;
  --greyish-blue: #668aaa;
  --lighter-grey: 230, 230, 230;
  --dark-brown: #191919;
  --footer-grey: #bababa;
}

.bg-meddy {
  background-color: #355876 !important;
}
.grey-text {
  color: #768ea3;
}
.grey-custom-text {
  color: #99adc0;
}
.grey-custom-text:hover {
  transition: color 0.4s linear;
  color: #ffffff;
  cursor: pointer;
}
.lighter-shadow {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
}
.btn-outline-grey {
  border-color: #768ea3;
}
.small-font {
  font-size: 12px !important;
}
.normal-font {
  font-size: 20px !important;
}
.text-spacing {
  letter-spacing: 1px;
}
.line-height {
  line-height: 1;
}

.top-notification {
  background-color: #f2f2f2;
  margin: 1.5rem 10px;
  max-width: 100%;
  font-weight: 600;
}
.top-notification > span:last-of-type {
  color: #029e74;
}
.btn-grey {
  background-color: #ffffff !important;
  color: #768ea3 !important;
  border-color: #768ea3 !important;
}
/* .btn-grey:hover {
  background-color: #ffffff !important;
} */
.horizontal-scroll {
  overflow-x: hidden;
}
.no-clamp {
  white-space: nowrap;
}
.image-container {
  position: relative;
  padding-left: 10px;
}
.image-container > svg {
  position: absolute;
  fill: #029e74;
}
.smaller-button {
  padding: 3px 5px !important;
  font-size: 12px;
}
.image-container > img {
  border-radius: 50%;
  margin: 4px;
}

.social-icons > i {
  padding-right: 10px;
  color: #757575;
}
.social-icons > svg {
  padding-right: 5px;
  color: #757575;
}
div[class="d-flex justify-content-center flex-column ml-2"] a {
  font-size: 14px;
}
div[class="d-flex justify-content-center flex-column ml-2"] span {
  font-size: 14px;
}
div[class="d-flex justify-content-center flex-column ml-2"] > div:last-of-type {
  color: rgba(117, 117, 117, 1);
}
div[class="d-flex justify-content-center flex-column ml-2"]
  > div:first-of-type
  > a {
  color: rgba(41, 41, 41, 1);
}
div[class="d-flex justify-content-center flex-column ml-2"]
  > div:last-of-type
  > a {
  color: rgba(117, 117, 117, 1);
}
.content {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  /* letter-spacing: 1px; */
}
.content-headers {
  font-family: var(--font-san-serif);
  font-weight: 600;
  font-size: xx-large;
}

.quotes {
  border-left: 4px solid black;
  font-size: 24px;
  padding-left: 1.5rem;
  margin-left: -1.1rem;
  line-height: 1.5;
}
.quotes > span {
  background-color: #cefce9;
}
ol > li {
  letter-spacing: -0.003em;
  font-weight: 400;
  font-size: 18px;
  font-family: Georgia;
  line-height: 2;
  /* text-size-adjust: ; */
}
ul {
  font-family: Georgia;
  font-size: 21px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: -0.003em;
}
ul {
  padding-left: 20px;
}
h5 {
  font-weight: 700;
  font-family: var(--font-san-serif);
}

span[data="Layered-pattern"] {
  color: rgba(var(--light-grey), 1);
  font-family: var(--font-san-serif);
  font-size: 15px;
}
span[data="Client-server-pattern"] {
  color: rgba(var(--light-grey), 1);
  font-family: var(--font-san-serif);
  font-size: 15px;
}
span[data="Master-slave-pattern"] {
  color: rgba(var(--light-grey), 1);
  font-family: var(--font-san-serif);
  font-size: 15px;
}
span[data="Pipe-filter-pattern"] {
  color: rgba(var(--light-grey), 1);
  font-family: var(--font-san-serif);
  font-size: 15px;
}
span[data="Broker-pattern"] {
  color: rgba(var(--light-grey), 1);
  font-family: var(--font-san-serif);
  font-size: 15px;
}
span[data="Peer-to-peer-pattern"] {
  color: rgba(var(--light-grey), 1);
  font-family: var(--font-san-serif);
  font-size: 15px;
}
span[data="Model-view-controller pattern"] {
  color: rgba(var(--light-grey), 1);
  font-family: var(--font-san-serif);
  font-size: 15px;
}
span[data="Blackboard pattern"] {
  color: rgba(var(--light-grey), 1);
  font-family: var(--font-san-serif);
  font-size: 15px;
}
span[data="Interpreter pattern"] {
  color: rgba(var(--light-grey), 1);
  font-family: var(--font-san-serif);
  font-size: 15px;
}
span[data="Comparison of Architectural Patterns"] {
  color: rgba(var(--light-grey), 1);
  font-family: var(--font-san-serif);
  font-size: 15px;
}
.newsletter {
  background-color: #f2f2f2;
  border-top: 1px solid #029e74;
  padding: 1rem;
}
.newsletter {
  background-color: #f2f2f2;
  border-top: 3px solid #029e74;
  padding: 2rem 1.5rem;
  font-family: var(--font-san-serif);
}
.newsletter > h3 {
  font-weight: 600;
  font-size: 22px;
}
.newsletter > h6 {
  font-size: 14px;
  color: var(--deep-grey);
}
.newsletter > div:first-of-type {
  font-size: 16px;
  color: var(--deep-grey);
}
.newsletter > div:last-of-type {
  font-size: 12px;
  color: var(--deep-grey);
}
.newsletter input::placeholder {
  color: var(--deep-grey);
  font-size: 16px;
}

.link-tags > button {
  background-color: #f2f2f2;
  color: var(--deep-grey);
  white-space: nowrap;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 5px 10px;
  font-family: var(--font-san-serif);
}
.newsletter input {
  background-color: transparent;
  border: none;
  border-bottom: var(--deep-grey) solid 1px;
  display: inline-block;
  width: 65%;
}
.newsletter button {
  display: inline-block;
  width: 30%;
  font-size: 16px;
  background-color: var(--greyish-blue);
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 4px;
}
.newsletter button > svg {
  margin-right: 5px;
  fill: #ffffff;
}
.newsletter a {
  color: var(--deep-grey);
}
a:hover {
  color: currentColor;
}

.responses-and-tags > div:first-of-type {
  display: flex;
  width: 40%;
  font-family: var(--font-san-serif);
  font-size: 16px;
}

.responses-and-tags {
  padding-bottom: 1rem;
  border-bottom: rgb(var(--lighter-grey)) 1px solid;
}
.responses-and-tags > div:last-of-type {
  color: var(--deep-grey);
  fill: var(--deep-grey);
  display: flex;
  justify-content: flex-start;
}
.responses-and-tags > div:last-of-type > * {
  margin-right: 5px;
}
.responses-and-tags > div:first-of-type > div:first-of-type {
  flex: 1;
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.responses-and-tags > div:first-of-type > div:last-of-type {
  flex: 1;
  white-space: nowrap;
  align-items: center;
  display: flex;
}
.responses-and-tags > div:first-of-type i {
  font-size: 24px;
  margin-right: 5px;
  color: var(--deep-grey);
  fill: var(--deep-grey);
}
.responses-and-tags > div:first-of-type > div:first-of-type > svg {
  font-size: 24px;
  margin-right: 5px;
  color: var(--deep-grey);
  fill: var(--deep-grey);
}
.responses-and-tags > div:first-of-type > div:first-of-type > span {
  font-size: 14px;
}
.responses-and-tags > div:first-of-type span {
  font-size: 14px;
}

.underlined {
  text-decoration: underline;
}

.text-black {
  color: var(--black-color);
}
.table-container {
  margin: 0 auto;
  max-width: 1160px;
}
.table-container > img {
  margin: 0 auto;
  display: block;
}

.author > div:last-of-type > span {
  font-family: var(--font-san-serif);
  font-size: 12px;
  color: var(--deep-grey);
}
.author > div:last-of-type > div:first-of-type > a {
  font-size: 22px;
  font-family: var(--font-san-serif);
  font-weight: 600;
}
.author > div:last-of-type > div:first-of-type > button {
  font-size: 12px;
  border: #029e74 1px solid;
  color: #029e74;
  font-family: var(--font-san-serif);
  border-radius: 3px;
  padding: 1px 3px !important;
}
.author > div:last-of-type > div:last-of-type {
  font-size: 16px;
  font-family: var(--font-san-serif);
}

.light-border {
  border-bottom: rgb(var(--lighter-grey)) 1px solid;
}

.more-section {
  max-width: 1180px;
  margin: 0 auto;
}
.more-section > div {
  padding: 5px;
}
.more-section > div > div {
  flex-basis: 23%;
  display: flex;
  padding: 10px;
}
.more-section > div > div > div:first-of-type {
  width: 75%;
}
.more-section > div > div > div:last-of-type {
  width: 25%;
}
.more-section > div > div > div > div {
  font-size: 12px;
  color: var(--deep-grey);
}
.more-section > div > div > div > div > a {
  color: var(--deep-grey);
}
.more-section > div > div > div > h6 {
  flex-basis: 65%;
}
.more-section > div > div > div > img {
  flex-basis: 35%;
}

.footer {
  background-color: var(--dark-brown);
}
.footer > div:first-of-type {
  justify-content: space-between;
  border-bottom: 1px solid var(--footer-grey);
}
.footer > div:first-of-type > div {
  flex-basis: 31%;
}
.footer p {
  color: var(--footer-grey);
  font-size: 14px;
}
.footer p > a {
  color: var(--footer-grey) !important;
  text-decoration: underline;
}
@media (min-width: 740px) {
  .top-notification {
    max-width: 740px;
    margin: 1.5rem auto;
  }
  .content {
    max-width: 740px;
    margin: 3rem auto 1rem;
  }
}

@media (hover: none) {
  .horizontal-scroll {
    overflow-x: auto;
  }
}
@media (max-width: 600px) {
  .horizontal-scroll {
    display: none !important;
  }
}

@media (max-width: 727px) {
  .footer > div:first-of-type {
    display: none !important;
  }
  .more-section > div > div {
    flex-basis: 100%;
    padding: 10px;
  }
  .more-section {
    padding-left: 1rem;
  }
  .content {
    width: 100vw;
  }
  .author {
    width: 100vw;
  }
  .author > div:first-of-type {
    padding-right: 5px !important;
    width: 25%;
  }
  .author > div:last-of-type {
    width: 70%;
  }
  .author > div:last-of-type > div:first-of-type {
    width: 80% !important;
  }
  .author > div:last-of-type > div:first-of-type > a {
    width: 50%;
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  main[class="container-fluid position-relative p-0"] {
    width: 100vw;
  }
  body {
    width: 100vw !important;
    overflow-x: hidden !important;
  }
  div img {
    max-width: 100%;
    object-fit: scale-down !important;
  }
  .content-headers ~ a {
    word-break: break-all;
  }
  .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .content > * {
    width: 90%;
    margin: auto;
  }
  .newsletter > div:nth-of-type(2) {
    flex-direction: column !important;
  }
  .newsletter > div:nth-of-type(2) > input {
    width: 100%;
  }
  .newsletter > div:nth-of-type(2) > button {
    margin-top: 10px;
    width: 100%;
  }

  :root {
    width: 100vw !important;
  }
}
